{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}
    {{ title }} - Flasky
    {% else %}
    {{ _('Welcome to Flasky!') }}
    {% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('main.index') }}">Flasky</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('main.index') }}">{{ _('Home') }}</a></li>
                    <li><a href="{{ url_for('main.explore') }}">{{ _('Explore') }}</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_anonymous %}
                    <li><a href="{{ url_for('auth.login') }}">{{ _('Login') }}</a></li>
                    {% else %}
                    <li><a href="{{ url_for('main.user', username=current_user.username) }}">{{ _('Profile') }}</a></li>
                    <li><a href="{{ url_for('main.messages')}}">
                        {{ _('Messages') }}
                        {% set new_messages = current_user.new_messages() %}

                        <span id="message_count" class="badge" style="visibility: {% if new_messages %}visible{% else %}hidden{% endif %};">
                            {{ new_messages }}
                        </span>
                    </a></li>
                    <li><a href="{{ url_for('auth.logout') }}">{{ _('Logout') }}</a></li>
                    {% endif %}
                </ul>
                {% if g.search_form %}
                    <form class="navbar-form navbar-left" method="get" action="{{ url_for('main.search') }}">
                        <div class="form-group">
                            {{ g.search_form.q(size=20, class='form-control', placeholder=g.search_form.q.label.text) }}
                        </div>
                    </form>
                {% endif %}
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% if current_user.is_authenticated %}
        {% with tasks = current_user.get_tasks_in_progress() %}
        {% if tasks %}
            {% for task in tasks %}
            <div class="alert alert-success" role="alert">
                {{ task.description }}
                <span id="{{ task.task_id }}-progress">{{ task.get_progress() }}</span>%
            </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
        {% endif %}

        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}
        {% endblock %}
    </div>
{% endblock %}


{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    {{ moment.lang(g.locale) }}
    
    {# So this is JavaScript... #}
    <script> 
        function translate(sourceElem, destElem, sourceLang, destLang) {
            //Replace original html link with new html content, spinny gif
            $(destElem).html('<img src="{{ url_for('static', filename='loading.gif') }}">');
            
            //Send post request
            $.post(url='/translate', data={
                text: $(sourceElem).text(),
                source_language: sourceLang,
                dest_language: destLang
            }).done(function(response) { //If completed, load response['text'] from /translate URL/function
                $(destElem).text(response['text'])
            }).fail(function() { //If failed, return text stating error
                $(destElem).text("{{ _('Error: Could not contact server') }}");
            });
        }
        
        // Function to show profile popups for users
        // $() means its triggered when the page is rendered
        $(function() {
            var timer = null;
            var xhr = null;
            $('.user_popup').hover(
                // mouse in event handler
                function(event) {
                    var elem = $(event.currentTarget);
                    timer = setTimeout(function() {
                        timer = null;
                        xhr = $.ajax('/user/' + elem.first().text().trim() + '/popup').done(
                                function(data) {
                                    xhr = null;
                                    elem.popover({
                                        trigger: 'manual',
                                        html: true,
                                        animation: false,
                                        container: elem,
                                        content: data
                                    }).popover('show');
                                    flask_moment_render_all();
                                }
                            );
                    }, 1000);
                },
                // mouse out event handler
                function(event) {
                    var elem = $(event.currentTarget);
                    if (timer) {
                        clearTimeout(timer);
                        timer = null;
                    }
                    else if (xhr) {
                        xhr.abort();
                        xhr = null;
                    }
                    else {
                        // destroy popup here
                        elem.popover('destroy');
                    }
                }
            )
        });

        // Sets message count and hides elem if 0
        function set_message_count(n) {
            $('#message_count').text(n);
            $('#message_count').css('visibility', n ? 'visible' : 'hidden');
        };

        // Function to check sinceNotifications every 10 seconds
        {% if current_user.is_authenticated %}
        $(function() {
            var since = 0;
            setInterval(function() {
                $.ajax('{{ url_for('main.notifications') }}?since=' + since).done(
                    function(notifications) {
                        for (var index = 0; index < notifications.length; index++) {
                            switch (notifications[index].name) {
                                case 'unread_messages_count':
                                    set_message_count(notifications[index].data);
                                    break;
                                case 'task_progress':
                                    set_task_progress(notifications[index].data.task_id, 
                                    notifications[index].data.progress);
                                    break;
                            }
                            since = notifications[index].timestamp;
                        }
                    }
                );
            }, 10000); // 10 seconds
        });
        {% endif %}

        // Shows Task progress bar
        function set_task_progress(task_id, progress) {
            $('#' + task_id + '-progress').text(progress);
        }
    </script>

{% endblock %}